body{
    background-color: rgb(0, 0, 0);
    background-image: url(./What-is-Your-Website-Design-Process-Blog-Post-Feature-Image-36119-01.png);
    background-size: 100% 100%;
}
.contener h3{
    color: rgb(173, 60, 60);
}
.contener h1{
    color: rgb(4, 37, 4);
}

